$green: #abd373;
$darkeygrey: #4c4c4c;
$black: #000;
$lightgrey: #88cce2;
$white: #fff;
$faintblue: #f6f7fb;

.pay-info {
    background: $white;
    padding: 50px;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
    }
}

.pay-info-container-1,
.pay-info-container-2,
.pay-info-container-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px dashed $green;
    padding: 5px 40px;

    .pay-info-image-container-1,
    .pay-info-text-container-1,
    .pay-info-image-container-2,
    .pay-info-text-container-2, 
    .pay-info-image-container-3,
    .pay-info-text-container-3 {
        padding: 10px;
    }
}
