$green: #abd373;
$darkeygrey: #4c4c4c;
$black: #000;
$lightgrey: #f6f7fb;
$white: #fff;
$faintblue: #88cce2;

footer {
    background-image: url(../assets/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0px;
}

.footer-parent {
    display: flex;
    justify-content: space-between;
}

.footer-logo-container img {
    width: 100px;
    height: auto;
}

.footer-column-textbox {
    width: 250px;
    height: auto;
    line-height: 1.5;

    p {
        font-size: 0.8rem;
    }
}

footer h4 {
    font-weight: 400;
}
footer a {
    font-size: 0.7rem;
    text-decoration: none;
    color: $black;
}

.social-media-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;

        
    img {
        width: 15px;
        height: 15px;
        padding: 5px;
        border: 1px solid #000000;
        margin: 10px;
    }
}

.number {
        display: inline-block;
        white-space: nowrap;
}

.copyright {
    padding: 50px 0px 0px;
    display: flex;
    justify-content: center;

    p {
        color: $green;
        font-size: 0.8rem;
    }
}