@use 'color-scheme';

.gallery{
    background: $white;
}

.products-head-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h2 {
        text-transform: uppercase;
        font-size: 2rem;
        position: relative;
    }
}

.products-head-text h2:before {
    content: "";
    width: 100px;
    height: 3px;
    background: $green;
    left: -120px;
    top: 50%;
    position: absolute;
}

.products-head-text h2:after {
    content: "";
    width: 100px;
    height: 3px;
    background: $green;
    right: -120px;
    top: 50%;
    position: absolute;
}

.product-buttons-section {
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        background: $white;
        margin: 10px;
        padding: 10px 25px;
        border-radius: 3px;
        border: 1px solid lightgrey;
        font-size: 22px;
    }

    button:active,
    button:focus {
        color: $green;
        border: 1px dashed $green;
    }
}

.plant-list {
    background-color: $white;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.relative-parent {
    display: flex;
    position: relative;

    .absolute-child {
        display: flex;
        position: absolute;
        left: 0;
        bottom: 0;
        box-shadow: 5px 5px 5px lightgrey;

        // had to use light grey above as the "lightgrey" on design sheet shows up light blue and the "faintblue" shows up lightgrey but was way too light and didn't show on website

        img {
            padding: 8px;
            width: 25px;
            height: auto;
        }
    }
}

