$green: #abd373;
$darkeygrey: #4c4c4c;
$black: #000;
$lightgrey: #f6f7fb;
$white: #fff;
$faintblue: #88cce2;

.header-top {
    background: $green;

    .header-top-container {
        display: flex;
        justify-content: space-between;
    }

        p {
            color: $white;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 0.8rem;
        }
}

.currency-language-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    li {
        padding-left: 20px;
        display: inline-block;
        color: $white;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.8rem;
    }
}

.header-main {
    background: $white;
    padding: 20px 0px;

    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.shopping-bag-container img {
    width: 20px;
    height: auto;
}

.header-nav-container li {
    display: inline-block;

    a {
        padding: 0px 15px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 400;
        font-size: 0.8rem;
        color: $black;
    }
}