$green: #abd373;
$darkeygrey: #4c4c4c;
$black: #000;
$lightgrey: #f6f7fb;
$white: #fff;
$faintblue: #88cce2;

.hero-image {
    background: #f8eee5;
    padding: 35px 0px;

    .wrapper {
        display: flex;
    }
}

.hero-text-container {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    h1 {
        margin: 0px;
        font-size: 50px;
        font-weight: 300;
        text-transform: uppercase;
    }

    #hero-text-emphasis {
        display: block;
        font-size: 105px;
        font-weight: 400;
    }

    p {
        margin: 0px;
        font-size: 25px;
    }
}

.hero-button {
    width: 35%;
    margin: 40px 0px;
    padding: 20px 0px;
    border: none;
    border-radius: 100px;
    background: $green;

    a {
        color: $white;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.header-image-container {
    width: 50%;
    height: auto;
}


.pay-info {
    background: $white;
    padding: 50px;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
    }
}

.pay-info-container-1,
.pay-info-container-2,
.pay-info-container-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px dashed $green;
    padding: 5px 5px;
    width: calc(100%/3 - 25px);
    line-height: 0.75;

    .pay-info-image-container-1,
    .pay-info-text-container-1,
    .pay-info-image-container-2,
    .pay-info-text-container-2, 
    .pay-info-image-container-3,
    .pay-info-text-container-3 {
        padding: 10px;
    }
}    

.plant-list {
    background: $white;
    padding: 50px 0px;
    line-height: 0.5;

    h4 {
        font-weight: 400;
    }

    p {
        color: $green;
        font-weight: 300;
    }
}
