html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 125%;
  color: #000;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.header-top {
  background: #abd373;
}
.header-top .header-top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-top p {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
}

.currency-language-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.currency-language-container li {
  padding-left: 20px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
}

.header-main {
  background: #fff;
  padding: 20px 0px;
}
.header-main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopping-bag-container img {
  width: 20px;
  height: auto;
}

.header-nav-container li {
  display: inline-block;
}
.header-nav-container li a {
  padding: 0px 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.8rem;
  color: #000;
}

.wrapper {
  width: 60%;
}

.contact-banner {
  background: url(./../assets/contact-header.jpg);
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact-banner .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-banner .wrapper h1 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
  padding-top: 120px;
}

.contact-form {
  padding: 50px 0px;
}
.contact-form .contact-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 10px #4c4c4c;
          box-shadow: 0 0 10px #4c4c4c;
}
.contact-form .contact-parent .contact-info {
  background: url(./../assets/contact.jpg);
  background-repeat: no-repeat;
  background-size: center;
  width: 260px;
  height: 450px;
  padding: 20px 20px;
}
.contact-form .contact-parent .contact-info h2 {
  color: #fff;
  font-size: 1.2rem;
}
.contact-form .contact-parent .contact-info p {
  color: #fff;
  font-size: 0.7rem;
}

form {
  padding: 40px 0;
}

fieldset {
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 2;
}
fieldset input {
  border: 0;
}

.first-name,
.last-name,
.phone,
.email {
  border-bottom: 1px solid #4c4c4c;
  width: 47%;
}

input::-webkit-input-placeholder {
  font-size: 0.7rem;
  font-style: italic;
}

input::-moz-placeholder {
  font-size: 0.7rem;
  font-style: italic;
}

input:-ms-input-placeholder {
  font-size: 0.7rem;
  font-style: italic;
}

input::-ms-input-placeholder {
  font-size: 0.7rem;
  font-style: italic;
}

input::placeholder {
  font-size: 0.7rem;
  font-style: italic;
}

textarea {
  color: #4c4c4c;
  font-style: italic;
}

button {
  background: #abd373;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #abd373;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer {
  background-image: url(../assets/footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0px;
}

.footer-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-logo-container img {
  width: 100px;
  height: auto;
}

.footer-column-textbox {
  width: 250px;
  height: auto;
  line-height: 1.5;
}
.footer-column-textbox p {
  font-size: 0.8rem;
}

footer h4 {
  font-weight: 400;
}

footer a {
  font-size: 0.7rem;
  text-decoration: none;
  color: #000;
}

.social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-media-icons img {
  width: 15px;
  height: 15px;
  padding: 5px;
  border: 1px solid #000000;
  margin: 10px;
}

.number {
  display: inline-block;
  white-space: nowrap;
}

.copyright {
  padding: 50px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.copyright p {
  color: #abd373;
  font-size: 0.8rem;
}