html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 125%;
  color: #000;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.header-top {
  background: #abd373;
}
.header-top .header-top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-top p {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
}

.currency-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.currency-language li {
  padding-left: 20px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
}

.header-middle {
  background: #fff;
  padding: 20px 0px;
}
.header-middle .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopping-bag img {
  width: 20px;
  height: auto;
}

.header-nav li {
  display: inline-block;
}
.header-nav li a {
  padding: 0px 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  font-size: 0.8rem;
}

.header-bottom {
  background: #f8eee5;
  padding: 35px 0px;
}
.header-bottom .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-text-container {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-text-container h1 {
  margin: 0px;
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
}
.header-text-container #header-text-emphasis {
  display: block;
  font-size: 105px;
  font-weight: 400;
}
.header-text-container p {
  margin: 0px;
  font-size: 25px;
}

.header-main-button {
  width: 35%;
  margin: 40px 0px;
  padding: 20px 0px;
  border: none;
  border-radius: 100px;
  background: #abd373;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

.header-image-container {
  width: 50%;
  height: auto;
}

.pay-info {
  background: #fff;
  padding: 50px;
}
.pay-info .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pay-info-container-1,
.pay-info-container-2,
.pay-info-container-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px dashed #abd373;
  padding: 5px 5px;
  width: calc(33.3333333333% - 25px);
  line-height: 0.75;
}
.pay-info-container-1 .pay-info-image-container-1,
.pay-info-container-1 .pay-info-text-container-1,
.pay-info-container-1 .pay-info-image-container-2,
.pay-info-container-1 .pay-info-text-container-2,
.pay-info-container-1 .pay-info-image-container-3,
.pay-info-container-1 .pay-info-text-container-3,
.pay-info-container-2 .pay-info-image-container-1,
.pay-info-container-2 .pay-info-text-container-1,
.pay-info-container-2 .pay-info-image-container-2,
.pay-info-container-2 .pay-info-text-container-2,
.pay-info-container-2 .pay-info-image-container-3,
.pay-info-container-2 .pay-info-text-container-3,
.pay-info-container-3 .pay-info-image-container-1,
.pay-info-container-3 .pay-info-text-container-1,
.pay-info-container-3 .pay-info-image-container-2,
.pay-info-container-3 .pay-info-text-container-2,
.pay-info-container-3 .pay-info-image-container-3,
.pay-info-container-3 .pay-info-text-container-3 {
  padding: 10px;
}

.plant-list {
  background: #fff;
  padding: 50px 0px;
  line-height: 0.5;
}
.plant-list h4 {
  font-weight: 400;
}
.plant-list p {
  color: #abd373;
  font-weight: 300;
}

.products {
  background: #fff;
}

.products-head-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.products-head-text h2 {
  text-transform: uppercase;
  font-size: 2rem;
  position: relative;
}

.products-head-text h2:before {
  content: "";
  width: 100px;
  height: 3px;
  background: #abd373;
  left: -120px;
  top: 50%;
  position: absolute;
}

.products-head-text h2:after {
  content: "";
  width: 100px;
  height: 3px;
  background: #abd373;
  right: -120px;
  top: 50%;
  position: absolute;
}

.product-buttons-section {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-buttons-section button {
  background: #fff;
  margin: 10px;
  padding: 10px 25px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  font-size: 22px;
}
.product-buttons-section button:active,
.product-buttons-section button:focus {
  color: #abd373;
  border: 1px dashed #abd373;
}

.plant-list {
  background-color: #fff;
}
.plant-list .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.relative-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.relative-parent .absolute-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-box-shadow: 5px 5px 5px lightgrey;
          box-shadow: 5px 5px 5px lightgrey;
}
.relative-parent .absolute-child img {
  padding: 8px;
  width: 25px;
  height: auto;
}

.collection {
  background: #fff;
  padding: 50px 0px;
}
.collection .collection-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0px;
}

.collection-child {
  background-repeat: no-repeat;
  background-position: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  line-height: 2;
}
.collection-child p {
  font-size: 0.7rem;
  margin: 0 auto;
}
.collection-child h3 {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 auto;
}
.collection-child button {
  background: #abd373;
  color: #fff;
  border: solid 1px #abd373;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.collection-child-1 {
  background-image: url(../assets/b1.jpeg);
  width: calc(67% - 10px);
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.collection-child-2 {
  background-image: url(../assets/b2.jpeg);
  width: calc(33% - 10px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection-child-3 {
  background-image: url(../assets/b3.jpeg);
  width: calc(33% - 10px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.collection-child-4 {
  background-image: url(../assets/b4.jpeg);
  width: calc(67% - 10px);
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.blog-head {
  background: #fff;
}
.blog-head .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-size: 2rem;
  position: relative;
}

h2:before {
  content: "";
  width: 100px;
  height: 3px;
  background: #abd373;
  left: -120px;
  top: 50%;
  position: absolute;
}

h2:after {
  content: "";
  width: 100px;
  height: 3px;
  background: #abd373;
  right: -120px;
  top: 50%;
  position: absolute;
}

.text-break {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 650px;
  height: auto;
}

.blog-body {
  background: #fff;
  padding: 50px;
}
.blog-body .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog-body .wrapper .blog-post-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-post-child {
  background: #d7d9d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: calc(33.3333333333% - 30px);
  padding: 20px;
  border-radius: 10px;
}
.blog-post-child .blog-date {
  color: #abd373;
  text-transform: uppercase;
}
.blog-post-child p {
  font-size: 0.7rem;
}

footer {
  background-image: url(../assets/footer.jpg);
  background-repeat: no-repeat;
  background-position: contain;
  padding: 50px 0px;
}

.footer-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-column img {
  width: 20px;
}